/* --- FONTS --- */
/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-300.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-300.woff') format('woff');
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-regular.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-regular.woff') format('woff');
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-500.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-500.woff') format('woff');
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-600.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-600.woff') format('woff');
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-700.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-700.woff') format('woff');
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local(''), url('../fonts/montserrat-v25-latin_cyrillic-800.woff2') format('woff2'), url('../fonts/montserrat-v25-latin_cyrillic-800.woff') format('woff');
}

/* --- ANIMATIONS --- */

@keyframes page-anim {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(2px);
  }
}

.next-page,
.prev-page {
  /* Animation delay can be write in short form after duration! */
  animation: page-anim 1s 6s alternate ease-in-out infinite;
  /* or extended form
  animation-name: page-anim;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-fill-mode: forwards; */
}

.next-page:hover,
.prev-page:hover {
  animation-play-state: paused;
}

@keyframes ava-anim {
  /* or "from" and "to" instead of %*/
  0% {
    border: 7px solid;
    border-color: var(--primary-border);
  }
  35% {
    scale: 0.95;
    border: 10px solid;
    border-color: var(--primary-border);
  }
  70% {
    scale: 1.05;
    border: 6px solid;
    border-color: var(--primary-border);
  }
  100% {
    border: 7px solid;
    border-color: var(--primary-border);
  }
}

/* body:has(.main-left__img:hover) .info__my-name {
  color: green !important;
} */

.ava-anim {
  animation: ava-anim 1.5s alternate ease 1;
}

@keyframes circle-anim {
  /* or "from" and "to" instead of %*/
  0% {
    left: -236px;
  }
  35% {
    left: -274px;
  }
  100% {
    left: -236px;
  }
}

.circle-anim {
  animation: circle-anim 1.5s alternate ease 1;
}

/* --- COMMON --- */

:root {
  --primary-orange: #eda652;
  --primary-blue: #4f85ef;
  --secondary-dark: #333333;
  --primary-header-footer: #fffefd;
  --primary-main: #fafdff;
  --primary-border: rgba(237, 166, 82, 0.35);
  --primary-box-shadow: rgba(79, 133, 239, 0.35);
  --primary-box-shadow-25: rgba(79, 133, 239, 0.25);
  --primary-ava-filter: sepia(50%) saturate(350%);
}

.invert-theme {
  --primary-orange: #4f85ef;
  --primary-blue: #eda652;
  --primary-header-footer: #fafdff;
  --primary-main: #fffefd;
  --primary-border: rgba(105, 150, 219, 0.35);
  --primary-box-shadow: rgba(237, 166, 82, 0.35);
  --primary-box-shadow-25: rgba(237, 166, 82, 0.25);
  --primary-ava-filter: brightness(110%) hue-rotate(350deg) saturate(130%) contrast(90%);
}

* {
  box-sizing: border-box;
  transition: color, fill, background-color, box-shadow, border, filter, 1s ease;
}

html {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 16px;
  zoom: 1.25;
}

body {
  background-color: #1e1e1e;
}

.body-container {
  width: 595px;
  height: 842px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.tech-stack__title,
.qualities__title,
.exp__title,
.education__title,
.language__title,
.project__title,
.code-example__title,
.interest__title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--primary-blue);
  cursor: default;
}

/* --- HEADER --- */

.header-icon {
  margin: 4px 0 4px 8px;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  cursor: help;
  transition: opacity 0.3s ease-in-out;
}

.header-icon:hover {
  opacity: 0.9;
}

.header-icon:hover ~ .header__document-format {
  opacity: 0.9;
}

.header-container {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  padding: 4px;
  background: var(--primary-header-footer);
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.header__document-format,
.header__download-info {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
  color: var(--secondary-dark);
  cursor: default;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__document-format {
  position: absolute;
  left: 185px;
}

.header__download-info {
  position: absolute;
  right: 105px;
  top: 9px;
}

.format {
  display: flex;
  flex-direction: row;
  text-align: right;
}

.format__download-links {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

.format__pdf:hover,
.format__docx:hover {
  opacity: 1;
}

.format__pdf,
.format__docx {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #343434;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

.header-download__icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  opacity: 0.5;
  cursor: help;
  transition: opacity 0.3s ease-in-out;
}

.header-download__icon:hover {
  opacity: 0.9;
}

.header-download__icon:hover ~ .header__download-info {
  opacity: 0.9;
}

/* --- MAIN --- */

.main-container {
  display: flex;
}

/* --- MAIN-LEFT --- */

.main-left {
  z-index: 2;
  width: 240px;
  height: 768px;
  padding: 0 10px;
  background: var(--primary-main);
  box-shadow: 1px 0px 5px var(--primary-box-shadow);
}

.main-left__img {
  position: relative;
  width: 165px;
  height: 165px;
  margin: 30px 28px 18px 27px;
  border: 7px solid;
  border-color: var(--primary-border);
  border-radius: 50%;
  box-shadow: 0px 2px 4px var(--primary-box-shadow);
  cursor: pointer;
  user-select: none;
  transition: box-shadow, transform, 0.4s ease-in-out;
}

.main-left__img:hover {
  scale: 1.03;
  box-shadow: 0px 2px 6px var(--primary-box-shadow);
}

.main-left__avatar {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  -webkit-filter: var(--primary-ava-filter);
  -moz-filter: var(--primary-ava-filter);
  filter: var(--primary-ava-filter);
}

.main-left__picture {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  scale: 101%;
  background: transparent;
  border: 7px solid;
  border-color: var(--primary-border);
  border-radius: 50%;
  transition: border 0.4s ease-in-out;
}

.main-left__picture:hover {
  border: 10px solid;
  border-color: var(--primary-border);
}

.nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.nav__item:not(:last-child) {
  margin-bottom: 6px;
}

.nav__item {
  position: relative;
  height: 34px;
  margin-top: 0;
  background: #ffffff;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #c7c7c7;
  box-shadow: 0px 1px 2px rgba(215, 215, 215, 0.35);
  border-radius: 35px;
  transition: box-shadow, transform, 0.2s ease;
}

.nav__item:hover {
  transform: translateY(-1px);
  box-shadow: 1px 2px 3px rgba(215, 215, 215, 0.7);
}

.nav__item:active {
  transform: translateY(0);
  box-shadow: 1px 1px 3px rgba(215, 215, 215, 1);
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 18%;
  width: 58%;
  height: 2px;
  background-color: var(--primary-orange);
  opacity: 0;
  transition: opacity, transform, 0.3s ease-out;
}

.nav__link-github::after {
  width: 48%;
}

.nav__link-telegram::after {
  width: 24%;
}

.nav__link-discord::after {
  width: 34%;
}

.nav__link-email::after {
  width: 59%;
}

.nav__link-address::after {
  width: 37%;
}

.nav__link::after {
  opacity: 0;
  transform: translate3d(-10%, 0, 0);
}

.nav__link:hover::after,
.nav__link:focus::after {
  opacity: 0.6;
  transform: translate3d(0, 0, 0);
}

.nav__icon {
  position: absolute;
  top: -1px;
}

.nav__link {
  margin-left: 40px;
  font-weight: 700;
  font-size: 10px;
  line-height: 32px;
  color: var(--secondary-dark);
}

.tech-stack {
  margin-bottom: 14px;
}

.tech-stack__row:not(:last-child) {
  margin-bottom: 8px;
}

.tech-stack__row {
  display: flex;
}

.tech-stack__item {
  position: relative;
  height: 31px;
}

.tech-stack__item-figma {
  margin-left: 16px;
}

.tech-stack__item-photoshop {
  margin-left: 30px;
}

.tech-stack__item-js {
  margin-left: 37px;
}

.tech-stack__icon {
  position: absolute;
}

.tech-stack__name {
  margin-left: 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #343434;
}

.tech-stack__item::after,
.interest__item::after {
  content: '';
  position: absolute;
  bottom: 3px;
  left: 45%;
  width: 100%;
  height: 2px;
  background-color: var(--primary-orange);
  opacity: 0;
  transition: opacity, transform, 0.5s;
}

.tech-stack__item-figma::after {
  left: 44%;
}

.tech-stack__item-css::after {
  left: 55%;
}

.tech-stack__item-photoshop::after {
  left: 30%;
}

.tech-stack__item-git::after {
  left: 62%;
}

.tech-stack__item-js::after {
  left: 31%;
}

.interest__item-angular::after {
  left: 37%;
}

.interest__item-typescript::after {
  left: 31%;
}

.interest__item-nodejs::after {
  left: 39%;
}

.tech-stack__item,
.interest__item {
  overflow: hidden;
  transition: transform 0.3s ease-out;
}

.tech-stack__item::after,
.interest__item::after {
  opacity: 0.8;
  transform: translate3d(200%, 0, 0);
}

.tech-stack__item:hover::after,
.tech-stack__item:focus::after,
.interest__item:hover::after,
.interest__item:focus::after {
  transform: translate3d(0, 0, 0);
}

.tech-stack__item:hover,
.interest__item:hover {
  transform: translateX(1px);
}

.tech-stack__item:active,
.interest__item:active {
  transform: translateX(0);
}

.qualities__list {
  margin-left: 9px;
  list-style-type: '\2022';
}

.qualities__item {
  padding-left: 6px;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #000000;
}

.qualities__item:not(:last-child) {
  margin-bottom: 5px;
}

/* --- MAIN-RIGHT --- */

.info {
  position: relative;
  margin: 59px 20px 26px 70px;
}

.info__circle {
  z-index: 1;
  position: absolute;
  left: -236px;
  top: -50px;
  width: 200px;
  height: 200px;
  background-color: var(--primary-orange);
  border-radius: 50%;
  box-shadow: 4px 4px 4px var(--primary-box-shadow-25);
  transition: background-color 1s ease;
}

.info__my-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 34px;
  color: var(--secondary-dark);
}

.info__my-name-color {
  color: var(--primary-orange);
}

.info__profession {
  margin-bottom: 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: var(--secondary-dark);
}

.info__text {
  width: 250px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.main-right__container {
  position: relative;
  margin: 0px 20px 8px 20px;
  width: 315px;
  height: 483px;
}

.main-right__page {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.rotate180 {
  transform: rotateY(180deg);
}

/* --- MAIN-RIGHT-PAGE-1 --- */

.main-right__page-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.exp__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.exp__list:last-child {
  margin-bottom: 14px;
}

.exp__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.exp__icon {
  position: absolute;
  top: 1px;
  height: 12px;
  width: 12px;
}

.exp__date {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.exp__sphere-activity {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.exp__link {
  margin-bottom: 3px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--primary-orange);
  opacity: 0.8;
  transition: opacity 0.3s ease, color 1s ease;
}

.exp__link:hover {
  opacity: 1;
}

.exp__direction {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.exp__skills {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-dark);
}

.exp__skills-color {
  font-weight: 700;
}

.education {
  margin-bottom: 14px;
}

.language {
  margin-bottom: 23px;
}

.education,
.language {
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.education__text,
.language__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.next-page {
  display: flex;
  justify-content: right;
  float: right;
  padding: 0;
  width: 55px;
  height: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #343434;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.next-page:hover {
  opacity: 0.95;
}

.next-page__icon {
  margin-left: 5px;
  width: 12px;
  height: 10px;
}

/* --- MAIN-RIGHT-PAGE-2 --- */

.main-right__page-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}

.project__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.project__list:last-child {
  margin-bottom: 14px;
}

.project__item {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.project__icon {
  position: absolute;
  top: 1px;
  height: 12px;
  width: 12px;
}

.project__date {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: var(--secondary-dark);
}

.project__sphere-activity {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.project__link {
  margin-bottom: 3px;
  margin-left: 15px;
  font-weight: 700;
  font-size: 10px;
  line-height: 15px;
  color: var(--primary-orange);
  opacity: 0.8;
  transition: opacity 0.3s ease, color 1s ease;
}

.project__link:hover {
  opacity: 1;
}

.project__direction {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.project__skills {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  color: var(--secondary-dark);
}

.project__skills-color {
  font-weight: 700;
}

.code-example {
  margin-bottom: 14px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c7c7c7;
}

.code-example__field {
  width: 274px;
  height: 164px;
  background: #1e1e1e;
  border-radius: 4px;
}

.code-example__code {
  padding: 5px 5px 5px 10px;
  font-family: 'Courier New';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #ffffff;
}

.code-example__code-green {
  color: #6a9955;
}

.code-example__code-light-green {
  color: #b5cea8;
}

.code-example__code-blue {
  color: #569cd6;
}

.code-example__code-light-blue {
  color: #9cdcfe;
}

.code-example__code-light-pink {
  color: #c586c0;
}

.code-example__code-light-yellow {
  color: #ffc813;
}

.interest__row {
  display: flex;
}

.interest__item {
  position: relative;
  height: 31px;
}

.interest__item-typescript {
  margin-left: 30px;
}

.interest__item-react {
  margin-left: 34px;
}

.interest__icon {
  position: absolute;
}

.interest__name {
  margin-left: 34px;
  font-size: 14px;
  font-weight: 700;
  line-height: 31px;
  color: #343434;
}

.interest__row:not(:last-child) {
  margin-bottom: 8px;
}

.interest__row:last-child {
  padding-bottom: 10px;
  margin-bottom: 21px;
  border-bottom: 1px solid #c7c7c7;
}

.prev-page {
  display: flex;
  justify-content: right;
  float: right;
  padding: 0;
  width: 55px;
  height: 12px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #343434;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.prev-page:hover {
  opacity: 0.95;
}

.prev-page__icon {
  margin-right: 5px;
  rotate: 180deg;
  width: 12px;
  height: 10px;
}

/* --- FOOTER --- */

.footer-container {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  border-radius: 0px 0px 5px 5px;
  background: var(--primary-header-footer);
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.1);
}

.footer-git-link {
  margin: 8px 0 8px 10px;
}

.footer-git__icon {
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.footer-git__icon:hover {
  opacity: 0.9;
}

.footer-rss__icon {
  opacity: 0.5;
  transform: translateX(8px);
  transition: opacity 0.3s ease;
}

.footer-rss__icon:hover {
  opacity: 0.9;
}

.footer-year {
  position: relative;
  padding: 12px 18px 13px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: var(--secondary-dark);
  opacity: 0.5;
  cursor: default;
  user-select: none;
  transition: opacity 0.3s ease;
}

.footer-year:hover {
  opacity: 0.9;
}

.footer-year__icon {
  position: absolute;
  top: 14px;
  left: -16px;
  margin-right: 4px;
}
